{# Copyright (c) 2015 Rhapsody Project
 #
 # Licensed under the MIT License (http://opensource.org/licenses/MIT)
 #
 # Permission is hereby granted, free of charge, to any
 # person obtaining a copy of this software and associated
 # documentation files (the "Software"), to deal in the
 # Software without restriction, including without limitation
 # the rights to use, copy, modify, merge, publish,
 # distribute, sublicense, and/or sell copies of the Software,
 # and to permit persons to whom the Software is furnished
 # to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice
 # shall be included in all copies or substantial portions of
 # the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY
 # KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
 # WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
 # PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS
 # OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR
 # OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT
 # OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
 # SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 #}
{% trans_default_domain "RhapsodyForumBundle" %}

{% set author = post.author %}
{% set timestamp = post.created is empty ? '' : post.created.getTimestamp() %}

<article id="post-{{ post.id }}" data-post-id="{{ post.id }}" data-user-id="{{ author.id|default('unknown-user') }}" class="post boxed">
  {# POST HEADING
   # ============
   #}
  <div class="post-heading row">
    <div class="post-byline pull-left">
      <span class="post-icon glyphicons glyphicons-file"></span>by <a href="{{ rhapsody_forum_user_url(author) }}">{{ author.username }}</a> on {{ post.created|date('M j, Y \\a\\t H:i') }}
    </div>
    <ul class="post-actions list-inline pull-right">
      <li>
        <span class="post-icon glyphicons glyphicons-link"></span>
        <a href="{{ rhapsody_forum_post_url(post) }}" data-action="share" data-post-number="{{ index }}" data-share-url="{{ rhapsody_forum_topic_user_url(post.topic, author) }}" title="{{ 'rhapsody.forum.post.share_title'|trans }}">
          {{ 'rhapsody.forum.misc.share'|trans }}
        </a>
      </li>
      <li>
        <span class="post-icon glyphicons glyphicons-warning-sign"></span>
        <a data-action="flag" title="{{ 'rhapsody.forum.post.flag_title'|trans }}">
          {{ 'rhapsody.forum.misc.flag'|trans }}
        </a>
      </li>
      {% if app.user and (app.user.id == post.author.id or is_granted('ROLE-ADMIN')) %}
      <li>
        <span class="post-icon glyphicons glyphicons-pencil"></span>
        <a href="{{ rhapsody_forum_post_edit_url(post) }}" data-action="edit" title="{{ 'rhapsody.forum.post.edit_title'|trans }}">
          {{ 'rhapsody.forum.misc.edit'|trans }}
        </a>
      </li>
      {% endif %}
      <li>
        <span class="post-icon glyphicons glyphicons-quote"></span>
        <a href="{{ rhapsody_forum_topic_reply_url(post.topic, { 'post': post.id }) }}" data-action="quote" title="{{ 'rhapsody.forum.post.quote_title'|trans }}">
          {{ 'rhapsody.forum.misc.quote'|trans }}
        </a>
      </li>
      <li>
        <span class="glyphicons glyphicons-up-arrow"></span><a href="#top">Top</a>
      </li>
      <li>
        <span class="glyphicons glyphicons-down-arrow"></span><a href="#end">End</a>
      </li>
    </ul>
  </div>

  {# POST DETAILS
   # ============
   #}
  <div class="post-details row">
    {# AUTHOR #}
    <div class="col-sm-2 hidden-xs pull-right post-author">
      <div class="author-avatar">
        <a data-user-card="{{ author.username|lower }}" classnames="trigger-user-card main-avatar" href="{{ rhapsody_forum_user_url(author) }}">
          {{ rhapsody_avatar(author, { 'size': 'md-avatar' }) }}
        </a>
      </div>
      <div class="author-details post-metadata">
        <div class="names trigger-user-card">
          <span class="username"> {# staff, admin? #}
            <a data-user-card="{{ author.username|lower }}" data-auto-route="true" href="{{ rhapsody_forum_user_url(author) }}">{{ author.username }}</a>
          </span>
        </div>
        <div class="post-info">
          <a href="{{ rhapsody_forum_topic_user_url(post.topic, author) }}" data-share-url="{{ rhapsody_forum_topic_user_url(post.topic, author) }}" data-post-number="{{ index }}" class="post-date">
            <span data-format="tiny" data-time="{{ timestamp }}" title="{{ timestamp|date('F j, Y g:ia') }}" class="relative-date with-year">{{ timestamp|date('M j, \'y') }}</span>
          </a>
        </div>
        {% if post.editCount > 0 %}
        <div class="post-info edits">
          <a title="{{ 'rhapsody.forum.post.last_edited_on'|trans({ '%date%': timestamp|date('F j, Y g:ia') }) }}" class="" href="">
            {{ post.editCount }}
            <span class="glyphicons glyphicons-pencil"></span>
          </a>
        </div>
        {% endif %}
        <div title="Post is unread" class="read-state read"><i class="fa fa-circle"></i></div>
      </div>
    </div>
    {# /AUTHOR #}

    <div class="col-sm-10 col-xs-12 post-body">
      <div class="select-posts hidden">
        <button class="hidden">select +replies</button>
        <button class="select-post">select</button>
      </div>

      <!-- keep the classes here in sync with composer.hbs -->
      <div class="contents regular">
        <div class="cooked">
        	{{ rhapsody_forum_format_text(post.text) }}
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  {# POST FOOTER
   # ===========
   #}
  <div class="row"></div>
</article>