{# Copyright (c) 2015 Rhapsody Project
 #
 # Licensed under the MIT License (http://opensource.org/licenses/MIT)
 #
 # Permission is hereby granted, free of charge, to any
 # person obtaining a copy of this software and associated
 # documentation files (the "Software"), to deal in the
 # Software without restriction, including without limitation
 # the rights to use, copy, modify, merge, publish,
 # distribute, sublicense, and/or sell copies of the Software,
 # and to permit persons to whom the Software is furnished
 # to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice
 # shall be included in all copies or substantial portions of
 # the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY
 # KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
 # WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
 # PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS
 # OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR
 # OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT
 # OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
 # SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 #}
{% trans_default_domain "RhapsodyForumBundle" %}

<div class="row">
  {# TOP-PAGINATION
   # ==============
   #}
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="clearfix hidden-xs">
         {{ knp_pagination_render(topics, 'RhapsodyForumBundle:Pagination:pagination.html.twig') }}
      </div>
      <div class="clearfix visible-xs">
        {{
          knp_pagination_render(topics, 'RhapsodyForumBundle:Pagination:mobile_pagination.html.twig', {}, {
            'paginationClassName': 'pagination-sm',
            'previous_label': '&laquo;',
            'next_label': '&raquo;',
          })
        }}
      </div>
    </div>
  </div>

  <div class="row">
    <div id="top"></div>
    <table class="topic-list table table-striped">
      <thead>
        <tr>
          <th data-sort-order="default" class="topic-column default">Topic</th>
          <th data-sort-order="posters" class="topic-column posters">Users</th>
          <th data-sort-order="posts" class="topic-column posts sortable num">Replies</th>
          <th data-sort-order="views" class="topic-column views sortable num">Views</th>
          <th data-sort-order="activity" class="topic-column activity sortable num">Activity</th>
        </tr>
      </thead>
      <tbody>
      {% if topics is not defined or topics is empty %}
          <tr>
            <td colspan="5">There has been no activity in this forum, yet. Be the first to <a href="{{ rhapsody_forum_topic_new_url(forum) }}">post a new topic</a>!</td>
          </tr>
      {% endif %}
      {% for topic in topics %}
          <tr class="topic-list-item {{ rhapsody_forum_category_class(topic.category) }} has-excerpt">
            <td class="main-link clearfix">
              <a href="{{ rhapsody_forum_topic_url(topic) }}" class="title">{{ topic.title }}</a>
              <span class="topic-post-badges"></span>
            </td>
            <td class="posters">
              <a data-user-card="{{ topic.user.username|lower }}" classnames="trigger-user-card main-avatar" title="{{ topic.user.username }}" href="{{ rhapsody_forum_user_url(topic.user) }}">
                {{ rhapsody_avatar(topic.user, { 'size': 'xs-avatar' }) }}
              </a>
            </td>
            <td class="num posts" title="This topic has {{ topic.replyCount }} replies">
              <span title="{{ topic.postCount }}">{{ topic.postCount }}</span>
            </td>
            <td class="num views">
              <span class="number" title="this topic has been viewed {{ topic.viewCount }} times">{{ topic.viewCount }}</span>
            </td>
            <td class="num activity">
              {% set post = topic.lastPost %}
              {% set timestamp = topic.lastUpdated is empty ? '' : topic.lastUpdated.getTimestamp() %}
              <a href="/t/test-what-the-heck/344/1">
                <span class="relative-date" date-time="{{ timestamp }}" title="{{ timestamp|date('F j, Y g:ia') }}" data-format="tiny">{{ timestamp|time_since }}</span>
              </a>
            </td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
    <div id="end"></div>
  </div>

  {# BOTTOM-PAGINATION
   # =================
   #}
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="clearfix hidden-xs">
         {{ knp_pagination_render(topics, 'RhapsodyForumBundle:Pagination:pagination.html.twig') }}
      </div>
      <div class="clearfix visible-xs">
        {{
          knp_pagination_render(topics, 'RhapsodyForumBundle:Pagination:mobile_pagination.html.twig', {}, {
            'paginationClassName': 'pagination-sm',
            'previous_label': '&laquo;',
            'next_label': '&raquo;',
          })
        }}
      </div>
    </div>
  </div>
</div>
